<h1>TinyApp</h1>

<% if(user) { %>
  <%= user.email %> is logged in.
  <form action="/logout" method="POST">
    <button> LOGOUT </button>
  </form>
<% } else { %>
  <form action="/register" method="GET">
    <button>Register</button>
  </form>
  <form action="/login" method="GET">
    <button>Login</button>
  </form>
<% } %>

<hr></hr>