
<!DOCTYPE html>
<html lang="en">
<head>
<h1>
  PROJECT 101
</h1>

<form action="/login" method="POST" style="margin:150px;">
  <input id="username" type="text" name="username" style="width:300px">

  <input type="submit" value="Login">
</form>
  <p1>
    <%= username %>
  </p1>
</head>
</html>