<h1>TinyURL</h1>

<% if(locals.user_id) { %>
  <%= locals.user_id %> is logged in.
  <form action="/logout" method="POST">
    <button> LOGOUT </button>
  </form>
<% } else { %>
  <form action="/register" method="GET">
    <button>Register</button>
  </form>
  <form action="/login" method="GET">
    <button>Login</button>
  </form>
<% } %>

<hr></hr>