
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <p>
      <%= shortURL %> - <%= longURL %>
    </p>
    <div>
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
      <p>Update your URL:</p>
      <input id="longURL" type="text" name="updatedURL" value="http://"
      style="width: 300px">
      <input type="submit" value="Update">
    </form>
    </div>
  </body>
</html>

