<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>
<body style="font-size:20px; padding:50px;">
  <h1>TinyApp Login</h1>
  <hr></hr>
  <% if(locals.user_id) { %>
    <%= locals.user_id %> is logged in.
    <form action="/logout" method="POST">
      <button> LOGOUT </button>
    </form>
  <% } else { %>
    <form action="/login" method="POST">
      <p><label for="Email"></label>
          Email:
        <input id="email" type="email" name="email" style="width: 300px"></p>
      <p><label for="Password"></label>
          Password:
        <input id="password" type="password" name="password" style="width: 300px"></p>
      <p><input type="submit" value="Login"></p>
    </form>
    <form action="/register" method="GET">
      <button>Register</button>
    </form>
  <% } %>
</body>
</html>