

<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL List</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header.ejs %>
  <p><a href="http://localhost:8080/urls/new">Create a New Short Link</a></p>
  <p>URL List</p>
    <ul>
      <% for (var i in urls) { %>
        <li>
          <%= i %>      -      <%= urls[i].url %>
          <form action="/urls/<%= i %>/delete" method="post">
            <button> DELETE </button>
          </form>
          <form action="/urls/<%= i %>" method="GET">
            <button> EDIT </button>
          </form>
        </li>
      <% } %>
    </ul>
</body>
</html>




